body,div,dl,dt,dd,ul,ol,li,tr,td,th,
h1,h2,h3,h4,h5,h6,hr,br,img,table,
input,form,a,p,textarea{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
ul,ol,li{
    list-style:none;
}
a{
    text-decoration:none;
}
img{
    border:0;
    display:block;
}
.clearfloat {
  zoom: 1;
}
.clearfloat:after {
  display:block;
  clear:both;
  content:"";
  visibility:hidden;
  height:0;
}